<%- include('header'); -%>
    <div class="contacts">
        <h2>Contact Details</h2>
        <p><b>Name</b>: Paul Masson</p>
        <p><b>Address</b>: 13, place Napoleon Bonaparte</p>
        <p><b>Phone</b>: 0567543243</p>
        <p><b>Email</b>: paulmasson@gmail.com</p>
    </div>
<%- include('footer'); -%>