<%- include('header'); -%>
    <div class="login">
        <h2>
            <%= message %>
        </h2>
        <h3>
            If you are not a member yet, click <a href="/register">here</a> to register.
        </h3>
    </div>
<%- include('footer'); -%>