<%- include('header'); -%>
    <div class="register">
        <h3>
            Registration failed. <br>
            Username (<%= username %>) already taken! Please <a href="/register">try again</a>
        </h3>
    </div>
<%- include('footer'); -%>