<%- include('header'); -%>
    <div class="login">
        <h1>Login to Webstore</h1>
        <form action="/api/register" method="POST">
            <label for="">Username:</label><br>
            <input type="text" name="" id=""><br>
            <label for="">Password:</label><br>
            <input type="password" name="" id=""><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
<%- include('footer'); -%>