<%- include('header'); -%>
    <div class="login">
        <h2>
            Hello <br> <%= username %>
            Welcome to WEBSTORE!!
        </h2>
        <h3>
            Do checkout our <a href="/api/catalog">catalogue</a>...
        </h3>
    </div>
<%- include('footer'); -%>