<%- include('../header'); -%>
    <div class="register">
        <h1>Register to Webstore</h1>
        <form action="/api/register" method="POST">
            Society: <input type="text" name="" id=""> <br>
            Contact: <input type="text" name="" id=""> <br>
            Address: <input type="text" name="" id=""> <br>
            Zipcode: <input type="text" name="" id=""> <br>
            City: <input type="text" name="" id=""> <br>
            Phone: <input type="text" name="" id=""> <br>
            FAX: <input type="text" name="" id=""> <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
<%- include('../footer'); -%>